<div class="container">
  <div class="flights_content" >
      <div style="text-align: center">
     
    <div class="service"> 
        <h3> TICKETS MAINTENANCE PAGE</h3>
      <div class="newFlightButton">
       <a routerLink="/"><button> Create New Ticket  </button></a>   
       <a routerLink="/"><button class="backToDashboardButton"> Back to Dashboard </button></a> 
      </div>
    
      <div class="searchField">
        <h5> Type to search for the ticket</h5>
        <input type="text" name="search" [(ngModel)]="flightSearch">
      </div> 

    </div>

  </div><br>

  <ul>         
      <!--<li  *ngFor="let flight of filteredFlights"> -->
          <li  *ngFor="let ticket of tickets$">  
          
          <div > 
              <a> <!--</a> routerLink="/flight_details/{{flight.id}}">-->                
              <!--<h3 class="flight_name">  Flight number : {{ flight.flightName }}</h3>-->

                  <table>
                      <thead>
                          <tr>
                              <th> Ticket Type  </th>
                              <th> Forward Departure Time</th>
                              <th> Forward Arrival Time </th>
                              <th> Return Departure Time </th>
                              <th> Return Departure Time </th>
                              <th> Direct </th>
                              <th> Price </th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>{{ ticket.ticketType }}</td> <!-- | enter: departureCityField : i-->
                              <td> {{ ticket.departureTimeTo }}</td>
                              <td> {{ ticket.arrivalTimeTo }} </td>
                              <td> {{ ticket.departureTimeFrom }}</td>
                              <td> {{ ticket.arrivalTimeFrom }}</td>
                              <td>
                                 <div style="color:green" *ngIf="ticket.isRound;else unset"> Yes</div> 
                                 <ng-template #unset>No </ng-template>
                              </td>
                              <td> {{ ticket.price }} </td>
                          </tr>
                      </tbody>
                  </table>
              </a>
           </div>
      </li>
      
  </ul>
</div>




</div>