<div class="container">
  <h2> New Flight Form</h2>

  <h3 *ngIf="warning"> All Fields Are Mandatory !! </h3>

  Flight Number : 
  <input type="text" name="flightNumber" [(ngModel)]="newFlight.flightName">

  <br>
  Departure City :
  <input type="text" name="departureCityField" [(ngModel)]="newFlight.departureCity">
  <br>

  Arrival City :
  <input type="text" name="arrivalCityField" [(ngModel)]="newFlight.arrivalCity">
  <br>

  Departure Date :
  <input type="date" name="departureDate" [(ngModel)]="newFlight.departureTime">
  <br>

  Arrival Date :
  <input type="date" name="arrivalDate" [(ngModel)]="newFlight.arrivalTime">
  <br>

  Is Direct :
  <input type="checkbox" name="isDirect" [(ngModel)]="newFlight.isDirect">
  <br>

  Price :
  <input type="number" name="price" [(ngModel)]="newFlight.ticketPrice">
  <br>
<br>

  <button (click)=addFlight(newFlight)> Add Flight </button>
  <br>
  
  <a routerLink="/flights"><button> BACK </button></a>  

</div>

<div class="addedWindow" *ngIf="added">

  <h3> Flight Added !</h3>
  <a routerLink="/flights"><button> OK </button></a>      

</div>