<div class="container">

  <h2> Easy Wings Admin Dashboard</h2>
    <div class="item">
        <a routerLink="flights"> MANAGE FLIGHTS </a>
    </div>

    <div class="item">
      <a routerLink="customers"> MANAGE CUSTOMERS </a>
    </div>

    <div class="item">
      <a routerLink="orders"> MANAGE ORDERS </a>
    </div>

    <div class="item">
      <a routerLink="tickets"> MANAGE TICKETS </a>
    </div>

    <div class="item">
      <a routerLink="favorites"> MANAGE FAVORITES </a>
    </div>


</div>
