<div class="container">

  <h2> Easy Wings Admin Dashboard</h2>
  <a routerLink="flights">
    <div class="item">
         MANAGE FLIGHTS 
    </div>
  </a>

  <a routerLink="customers">
    <div class="item">
      MANAGE CUSTOMERS
    </div>
  </a>

  <a routerLink="orders">
    <div class="item">
      MANAGE ORDERS 
    </div>

  </a>

  <a routerLink="tickets">
    <div class="item">
       MANAGE TICKETS 
    </div>
  </a>

  <a routerLink="favorites">
    <div class="item">
       MANAGE FAVORITES
    </div>
  </a>

</div>
